.footer {
    //position: fixed;
    //bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 209px;
    background: #000000;
    flex-direction: column;
    text-align: center;
    margin: 0;
    width: 100%;
    max-width: 1440px;
    // @media (max-width: 600px) {
    //    position: unset;
    //}
}

.footer__content {
    @media (max-width: 600px) {
        width: 133px;
    }
}
