.template {
    width: 1440px;
    margin: 0 auto; /*  Pour centrer la page horizontalement */
    padding: 45px 0 0 0;
    gap: 50px;
    background: #ffffff;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 1240px;
    height: 68px;
    padding: 45px 100px 50px 100px;
}
.navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar ul li {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    text-align: right;
    padding: 28px;
}

.navbar ul li a {
    text-decoration: none;
    color: #ff6060; /* Couleur du texte */
}
.footer {
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 209px;
    background: #000000;
    color: white;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    text-align: center;
}
